<a href="https://colab.research.google.com/github/BoJakobsen/PythonTAP2025/blob/main/loesninger/AoC2024_day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AoC Day 1: Historian Hysteria (2024), Solution examples

See the problem at:
https://adventofcode.com/2024/day/1

In [1]:
# Load data (can be used for all AoC problems)

# Define the test-data as a multiline string (as it will be in the file for the real problem)
data = """3   4
          4   3
          2   5
          1   3
          3   9
          3   3"""


# Load data form the above multiline string
lines=[line.strip() for line in data.split('\n')]

# Alternativ
# load data from a file (upload the datafile as 1.dat).
#with open('1.dat') as f:
#    lines=[line.strip() for line in f]


# We now have have a list of strings, one for each line in the data.

In [2]:
# Check the data read
lines

['3   4', '4   3', '2   5', '1   3', '3   9', '3   3']

In [3]:
# Masage the data into a usefull structure for the problem

# We convert each string to a list of two integer.
data = [[int(item) for item in x.split()] for x in lines]
# data is now list of list [ [x1 ,y1], [x2, y2], ... ]
# Maybe ask ai (Gemini) for explaning this "data convertion"

In [4]:
# Check the final structure
data

[[3, 4], [4, 3], [2, 5], [1, 3], [3, 9], [3, 3]]

Nedenfor findes et par løsninger med forskellige grader af Pythonistisk tilgang, prøv at slå de funktioner op du ikke forstår, eller brug AI til at forklarer.

In [5]:

# konverter data til søjler (det kunne man jo også have gjort ved indlæsningen)
c1 = []
c2 = []
for a,b in data:
    c1.append(a)
    c2.append(b)

total = 0
# En simpel løsning, som dog ikke er særlig tids effektiv
while len(c1)>0: # så længe der er elemente i c1 fortsætter vi
  mc1 = min(c1) # find mindste element i c1
  mc2 = min(c2) # find mindste element i c2
  c1.remove(mc1) # fjern mindste element fra c1
  c2.remove(mc2) # fjern mindste element fra c2
  total += abs(mc1-mc2) # summer forskellen

print(total)

11

In [6]:
# konverter data til søjler (det kunne man jo også have gjort ved indlæsningen)
c1 = []
c2 = []
for a,b in data:
    c1.append(a)
    c2.append(b)

# brug sorter metoden på en liste
c1.sort()
c2.sort()
print(c1)
print(c2)

[1, 2, 3, 3, 3, 4]
[3, 3, 3, 4, 5, 9]

In [7]:
# summer forskellen op, her med en "gammeldags" metode med eksplisit loop over antale af elementer
# pas på det virker kun hvis der er lige mange elementer i c1 og c2.
total = 0
N  = len(c1)
for i in range(N):
    total += abs(c1[i]-c2[i])
print(total)

11

In [8]:
# summer forskellen op, her bruges den lidt sværer funktion zip, som kombinere to lister
# En hurtigere og mere Pythonistisk løsing
total = 0
for a,b in zip(c1,c2):
    total += abs(a-b)
print(total)

11